@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(/public/images/bg.png);
    height: 100vh;
}

.table-zebra tbody tr:nth-child(even) th, .table-zebra tbody tr:nth-child(even) td {
    --tw-bg-opacity: 0.9;
}
.table :where(tbody th, tbody td) {
    --tw-bg-opacity: 0.6;
}
.table :where(thead, tfoot) :where(th, td) {
    --tw-bg-opacity: 0.9;
}